version: "3"
services:
  mongodb:
    image: mongo
    restart: always
    environment:
      - MONGO_INITDB_ROOT_USERNAME
      - MONGO_INITDB_ROOT_PASSWORD
    volumes:
      - mongo-db-vol:/data/db
  mongoadmin:
    image: mongo-express
    restart: always
    environment:
      - ME_CONFIG_MONGODB_ADMINUSERNAME
      - ME_CONFIG_MONGODB_ADMINPASSWORD
      - ME_CONFIG_MONGODB_SERVER=mongodb
    ports:
      - 8081:8081
    depends_on:
      - mongodb
  main:
    build: .
    environment:
      - PORT=3000
      - DB_USERNAME=${MONGO_INITDB_ROOT_USERNAME}
      - DB_PASSWORD=${MONGO_INITDB_ROOT_PASSWORD}
      - DB_NAME
      - DB_HOST
    volumes:
      - ./:/app
    ports:
      - 80:3000
    depends_on:
      - mongodb
volumes:
  mongo-db-vol:
    name: mongo-db-vol
    external: true