<%- include("../layout/layout-start", { title: '404 Not Found' }) %>
  <%- include("../shared/menu", { user: user }) %>

    <h1 class="text-center mt-5">
      404. <small class="text-muted">Nothing found</small>
    </h1>

    <%- include("../layout/layout-end") %>