<%- include("../layout/layout-start", { title: '404 Not Found' }) %>

<h1 class="text-center">
    404.
    <small class="text-muted">Nothing found</small>
</h1>

<%- include("../layout/layout-end") %>